body {
    background-color: antiquewhite;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        li {
            list-style-type: none;
        }
    }

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: azure;
        gap: 1.5em;

        padding: 2em;
        border-radius: 0.5em;

        section.nav {
            display: flex;
            gap: 1em;
            width: 100%;
            background-color: beige;
            padding: 1em;
        }
    }
}
